# Ignore Python virtual environments
venv/
.env/
.venv/

# Ignore Airflow local setup
.airflow_local/

# Ignore Python cache and compiled files
__pycache__/
*.pyc

# Ignore logs and temporary files
logs/
*.log

# Ignore system files
.DS_Store
